@model AddTemplateToMVC4.Models.imagesRange
@{
    ViewBag.Title = "manageDisplayImages";
}

@using (@Html.BeginForm("saveRange", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>Manage Your Display Images on Website</legend>
        <h2>Note: All ranges Start from 100</h2>
        <h2>For Index Page</h2>
        <label>For Men T-Shirts</label>
        @Html.TextBoxFor(model => model.imen)
        <label>For Men Jacket</label>
        @Html.TextBoxFor(model => model.ijack)
        <label>For Womens</label>
        @Html.TextBoxFor(model => model.iwomens)
        <h2>For New Arrival Page</h2>
        <label>For Men T-Shirts</label>
        @Html.TextBoxFor(model => model.nmen)
        <label>For Men Jacket</label>
        @Html.TextBoxFor(model => model.njack)
        <label>For Womens</label>
        @Html.TextBoxFor(model => model.nwomens)
        <h2>For Individual Pages</h2>
        <label>For Men T-Shirts</label>
        @Html.TextBoxFor(model => model.men)
        <label>For Men Jacket</label>
        @Html.TextBoxFor(model => model.jack)
        <label>For Womens</label>
        @Html.TextBoxFor(model => model.womens)
        <input type="submit" value="Set Range"/>

    </fieldset>
}